.pastaLink{
    text-decoration: none;
}
.header{
    text-align: center;
}

.img{
    position: relative;
    float: left;
    width: 25%;
    
}
.img2{
    position: absolute;
    left: 38.5%;
    width: 20%;
}
.img3{
    position: relative;
    float: right;
    width: 25%;
}
.img4{
    position: relative;
    float: right;
    width: 30%;
    top: 45px;
}
body{
background-color: #DCDCDC;
margin: 5% 10%;
font-size: 17px;
color: #0c2230;

}

